<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="UTF-8">
    <title>project HERA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css">
    </head>

    <body>
        <nav class="navbar navbar-dark navbar-fixed-top">
            <div class="container">
                <div class="navbar-header" style="padding:0px">
                    <a class="navbar-brand" style="background-color: #294694;font-family: Georgia, 'Times New Roman', Times, serif; margin-left: 15%; color:#fff;"
                        href="/">
                        <b>project <i>HERA</i></b>
                    </a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarTogglerMenu" aria-controls="navbarTogglerMenu"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarTogglerMenu" style="background-color: #fff;">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#" id="navbarDrop" data-toggle="dropdown">
                                Plots
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/plt-matmortality/">Maternal Morbidity/Mortality</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#" id="navbarDrop" data-toggle="dropdown">
                                Comparisons by Race
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/comp-matmortality/">Maternal Morbidity/Mortality</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/regression/">Regression Analysis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/data/">Data</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            
            <div class="row" style="padding-top:50px;">
                <div class="col-sm-12 col-md-8" style="padding-bottom:20px;">
                    <div style="background-color: #fff; padding:30px;">
                            <h1>Health, Ethnicity & Race Analytics</h1>
                            <hr>
                            <img src="/static/images/hera_statue.jpg" style="float:left;width:30%;height:auto;padding-right:20px;" alt="...">
                            <p>In ancient Greek myth and religion, Hera is the goddess of women, marriage, family, and childbirth. Her Roman 
                            counterpart is Juno, who is also regarded as protectress of the community and responsible for imbuing both women and 
                            men with vital energy.<br><br>
                            The purpose of this project is to analyze health disparities among various ethnic and racial groups in the United States, 
                            particularly as they relate to maternal, child, and family care. In addition, our aim is to help reconcile conflicting studies in the area 
                            of public health by enabling users to explore, replicate, and dispute findings found in peer-reviewed 
                            literature.<br><br>
                            Ipsum...        
                            </p><br><br><br><br><br>
                    </div>  
                </div>
                <div class="col-sm-12 col-md-4" style="padding-bottom:20px;">
                    <div class="vizbar" style="background-color: #fff; padding:30px;">
                        <h2>Topics</h2> 
                        <hr>
                        <a href="/topics/racial-bias-vs-delivery-method.html"><h4>Maternal Mortality: Racial Bias vs. Delivery Method</h4></a>
                         Data from the Centers of Disease Control and Prevention (CDC) show that Black women are 
                         3 to 4 times more likely to die from pregnancy-related causes than White women, prompting
                         potential legislation to fund implicit bias training for healthcare providers. This article
                         examines whether the disparity in pregnancy-related deaths is because of racial bias or Black
                         women disproportionately undergoing riskier delivery methods such as c-sections.<br><br>
                         <br><br>
                        
                    </div>
                </div>    
            </div>                    
        <div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>