<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="UTF-8">
    <title>HERA - Regression</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css">
    </head>

    <body>
        <nav class="navbar navbar-dark navbar-fixed-top">
            <div class="container">
                <div class="navbar-header" style="padding:0px">
                    <a class="navbar-brand" style="background-color: #294694;font-family: Georgia, 'Times New Roman', Times, serif; margin-left: 35%; color:#fff;"
                        href="/">
                        <b>project <i>HERA</i></b>
                    </a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarTogglerMenu" aria-controls="navbarTogglerMenu"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarTogglerMenu" style="background-color: #fff;">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#" id="navbarDrop" data-toggle="dropdown">
                                Plots
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/plt-matmortality/">Maternal Morbidity/Mortality</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#" id="navbarDrop" data-toggle="dropdown">
                                Comparisons by Race
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/comp-matmortality/">Maternal Morbidity/Mortality</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#" id="navbarDrop" data-toggle="dropdown">
                                Regression Analysis
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/regr-matmortality/">Maternal Morbidity/Mortality</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            
            <div class="row" style="padding-top:50px;">
                <div class="col-sm-12 col-md-12" style="background-color: #fff; padding:30px;">
                    <h1>Maternal Morbidity/Mortality</h1>
                    <h2 style="color:#6c757d">Regression Analysis</h2>
                    <hr>
                </div>
            </div>
            <form>
                <div class="row" style="background-color: #fff; padding-left:30px;padding-right:30px;">
                    <div class="form-group col-sm-12 col-md-4">
                        <label for="parameters">Parameters</label>
                        <select multiple class="form-control form-control-sm" id="parameters" aria-describedby="parameterHelp">
                            <option value="avg_prenatal_care_start_month">Average Prenatal Care Start Month - Risk Factor</option>
                            <option value="avg_num_prenatal_visits">Average Number of Prenatal Visits - Risk Factor</option>
                            <option value="avg_body_mass_index">Average Body Mass Index - Risk Factor</option>
                            <option value="prepregnancy_diabetes_count">Prepregnancy Diabetes - Risk Factor</option>
                            <option value="gestational_diabetes_count">Gestational Diabetes - Risk Factor</option>
                            <option value="prepregnancy_hypertension_count">Prepregnancy Hypertension - Risk Factor</option>
                            <option value="gestational_hypertension_count">Gestational Hypertension - Risk Factor</option>
                            <option value="hypertension_eclampsia_count">Hypertension Eclampsia - Risk Factor</option>
                            <option value="prev_preterm_birth_count">Previous Preterm Birth - Risk Factor</option>
                            <option value="total_risk_factors">Total Risk Factors - Risk Factor</option>
                            <option value="delivery_primary_cesarean_count">Primary Cesarean - Delivery Method</option>
                            <option value="delivery_repeat_cesarean_count">Repeat Cesarean - Delivery Method</option>
                            <option value="total_prev_cesareans">Total Previous Cesareans - Delivery Method</option>
                            <option value="total_delivery_cesarean">Total Cesarean Deliveries - Delivery Method</option>
                            <option value="total_delivery_vaginal">Total Vaginal Deliveries - Delivery Method</option>
                            <option value="maternal_transfusion_count">Maternal Transfusion - Morbidity</option>
                            <option value="perineal_laceration_count">Perineal Laceration - Morbidity</option>
                            <option value="ruptured_uterus_count">Ruptured Uterus - Morbidity</option>
                            <option value="unplanned_hysterectomy_count">Unplanned Hysterectomy - Morbidity</option>
                            <option value="admit_intensive_care_count">Admitted to Intensive Care - Morbidity</option>
                            <option value="total_morbidity_count">Total Morbidity Events - Morbidity</option>
                            <option value="direct_obstetric_abortive_count">Direct Obstetric Abortive - Mortality</option>
                            <option value="direct_obstetric_nonabortive_count">Direct Obstetric Nonabortive - Mortality</option>
                            <option value="direct_obstetric_unspecified_count">Direct Obstetric Unspecified - Mortality</option>
                            <option value="other_pregnancy_related_count">Other Pregnancy Related - Mortality</option>
                            <option value="indirect_obstetric_count">Indirect Obstetric - Mortality</option>
                            <option value="don_eclampsia_preeclampsia_count">DON: Eclampsia/Pre-Eclampsia - Mortality</option>
                            <option value="don_hemorrhage_count">DON: Hemorrhage - Mortality</option>
                            <option value="don_puerperium_embolism_count">DON: Puerperium Embolism - Mortality</option>
                            <option value="don_puerperium_other_count">DON: Puerperium Other - Mortality</option>
                            <option value="don_all_other_count">DON: All Other - Mortality</option>
                            <option value="total_maternal_deaths">Total Maternal Deaths - Mortality</option>
                        </select>
                        <small id="parameterHelp" class="form-text text-muted">CTRL-click to select a multiple (maximum = 4)</small>
                    </div>
                    <div class="form-group col-sm-12 col-md-4">
                        <label for="response">Response</label>
                        <select class="form-control form-control-sm" id="response">
                            <option value="race_white_nh">White, Non-Hispanic - Race (one-hot)</option>
                            <option value="race_hispanic">Hispanic - Race (one-hot)</option>
                            <option value="race_black">Black - Race (one-hot)</option>
                            <option value="race_ai_an">American Indian/Alaskan Native - Race (one-hot)</option>
                            <option value="race_asian_pi">Asian/Pacific Islander - Race (one-hot)</option>
                            <option value="avg_prenatal_care_start_month">Average Prenatal Care Start Month - Risk Factor</option>
                            <option value="avg_num_prenatal_visits">Average Number of Prenatal Visits - Risk Factor</option>
                            <option value="avg_body_mass_index">Average Body Mass Index - Risk Factor</option>
                            <option value="prepregnancy_diabetes_count">Prepregnancy Diabetes - Risk Factor</option>
                            <option value="gestational_diabetes_count">Gestational Diabetes - Risk Factor</option>
                            <option value="prepregnancy_hypertension_count">Prepregnancy Hypertension - Risk Factor</option>
                            <option value="gestational_hypertension_count">Gestational Hypertension - Risk Factor</option>
                            <option value="hypertension_eclampsia_count">Hypertension Eclampsia - Risk Factor</option>
                            <option value="prev_preterm_birth_count">Previous Preterm Birth - Risk Factor</option>
                            <option value="total_risk_factors">Total Risk Factors - Risk Factor</option>
                            <option value="delivery_primary_cesarean_count">Primary Cesarean - Delivery Method</option>
                            <option value="delivery_repeat_cesarean_count">Repeat Cesarean - Delivery Method</option>
                            <option value="total_prev_cesareans">Total Previous Cesareans - Delivery Method</option>
                            <option value="total_delivery_cesarean">Total Cesarean Deliveries - Delivery Method</option>
                            <option value="total_delivery_vaginal">Total Vaginal Deliveries - Delivery Method</option>
                            <option value="maternal_transfusion_count">Maternal Transfusion - Morbidity</option>
                            <option value="perineal_laceration_count">Perineal Laceration - Morbidity</option>
                            <option value="ruptured_uterus_count">Ruptured Uterus - Morbidity</option>
                            <option value="unplanned_hysterectomy_count">Unplanned Hysterectomy - Morbidity</option>
                            <option value="admit_intensive_care_count">Admitted to Intensive Care - Morbidity</option>
                            <option value="total_morbidity_count">Total Morbidity Events - Morbidity</option>
                            <option value="direct_obstetric_abortive_count">Direct Obstetric Abortive - Mortality</option>
                            <option value="direct_obstetric_nonabortive_count">Direct Obstetric Nonabortive - Mortality</option>
                            <option value="direct_obstetric_unspecified_count">Direct Obstetric Unspecified - Mortality</option>
                            <option value="other_pregnancy_related_count">Other Pregnancy Related - Mortality</option>
                            <option value="indirect_obstetric_count">Indirect Obstetric - Mortality</option>
                            <option value="don_eclampsia_preeclampsia_count">DON: Eclampsia/Pre-Eclampsia - Mortality</option>
                            <option value="don_hemorrhage_count">DON: Hemorrhage - Mortality</option>
                            <option value="don_puerperium_embolism_count">DON: Puerperium Embolism - Mortality</option>
                            <option value="don_puerperium_other_count">DON: Puerperium Other - Mortality</option>
                            <option value="don_all_other_count">DON: All Other - Mortality</option>
                            <option value="total_maternal_deaths">Total Maternal Deaths - Mortality</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-12 col-md-4">
                        <label for="regrModel">Model</label>
                        <select name="model" class="form-control form-control-sm custom-select custom_select mb-3" id="regrModel">
                            <option selected>Regression Model</option>
                            <option value="ols">Linear Regression - OLS</option>
                            <option value="logit">Logistic Regression - Logit</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="background-color: #fff; padding-left:50px; padding-right:30px;">
                    <button id="regrButton" type="submit" class="btn btn-default">Calculate</button>
                </div>
            </form>
            <div class="row" style="background-color: #fff; padding:30px;">
                <div class="col-sm-12 col-sm-12" >
                    <table class="table table-striped" id="regrTable">
                        <tbody>
                            <tr>
                                <td colspan="2"><b>Dep. Variable:</b></td>
                                <td colspan="2" id="Dep. Variable"></td>
                                <td colspan="2"><b>R-Squared:</b></td>
                                <td colspan="2" id="R-Squared"></td>
                            </tr>
                            <tr>
                                <td colspan="2"><b>Model:</b></td>
                                <td colspan="2" id="Model"></td>
                                <td colspan="2"><b>Adj. R-Squared:</b></td>
                                <td colspan="2" id="Adj. R-Squared"></td>
                            </tr>
                            <tr>
                                <td colspan="2"><b>Method:</b></td>
                                <td colspan="2" id="Method"></td>
                                <td colspan="2"><b>Pseudo R-Squared:</b></td>
                                <td colspan="2" id="Pseudo R-Squared"></td>
                            </tr>
                            <tr>
                                <td colspan="2"><b>Date:</b></td>
                                <td colspan="2" id="Date"></td>
                                <td colspan="2"><b>F-statistic:</b></td>
                                <td colspan="2" id="F-statistic"></td>
                            </tr>
                            <tr>
                                <td colspan="2"><b>Time:</b></td>
                                <td colspan="2" id="Time"></td>
                                <td colspan="2"><b>Prob (F-statistic):</b></td>
                                <td colspan="2" id="Prob (F-statistic)"></td>
                            </tr>
                            <tr>
                                <td colspan="2"><b>No. Observations:</b></td>
                                <td colspan="2" id="No. Observations"></td>
                                <td colspan="2"><b>Log-Likelihood:</b></td>
                                <td colspan="2" id="Log-Likelihood"></td>
                            </tr>
                            <tr>
                                <td colspan="2"><b>Df Residuals:</b></td>
                                <td colspan="2" id="Df Residuals"></td>
                                <td colspan="2"><b>LL-Null:</b></td>
                                <td colspan="2" id="LL-Null"></td>
                            </tr>
                            <tr>
                                <td colspan="2"><b>Df Model:</b></td>
                                <td colspan="2" id="Df Model"></td>
                                <td colspan="2"><b>AIC:</b></td>
                                <td colspan="2" id="AIC"></td>
                            </tr>
                            <tr>
                                <td colspan="2"><b>Scale:</b></td>
                                <td colspan="2" id="Scale"></td>
                                <td colspan="2"><b>BIC:</b></td>
                                <td colspan="2" id="BIC"></td>
                            </tr>
                            <tr>
                                <td colspan="2"><b>Covariance Type:</b></td>
                                <td colspan="2" id="Covariance Type"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td colspan="8"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="/static/js/regressions.js"></script>
        <script src="/static/js/data_objects.js"></script>
    </body>
</html>